* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Set Background Color to Black and base text-color to White */
body {
    background-color: black;
    color: white;
}

/* Main is a flexbox. Uses Google Fonts. Sets a top-padding so that the Nav Bar won't overlap */
main {
    display: flex;
    font-family: "Shadows Into Light";
    /* border: solid 5px lightblue; */
    flex-direction: column;
}

/* sections in Main are flexboxes with row directions. Should take 100% of screenwidth and 
90% of screen height; the remaining 10% of screen height occupied by fixed-position Navbar (below) */
main section {
    display: Flex;
    flex-direction: row;
    min-height: 90vh;
    width: 96vw;
    /* border: solid 5px white; */
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 1%;
}

h1 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

/* Nav Bar should always be at the top of the screen, at 100% of screen-width, and 10% of screen height
Nav links will be on the right. Should never need to wrap. 
Had to make some fiddly adjustments to top and left margin to avoid black space. */

nav {
    position: fixed;
    width: 99vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: solid 5px white; */
    margin-top: -1.5vh;
    margin-left: -0.5vw;
    background-color: rgb(26, 25, 25);
    font-family: "Roboto Mono";
    padding-right: 1%;
}

/* Padding and formatting for nav bar items. */
nav a {
    padding-right: 1%;
    text-decoration: none;
    color: white;
    padding-top: 3%;
}

/* Nav bar links turn red on hover */
nav a:hover {
    color: red;
}

/* divs are flexboxes with column directions */
div {
    display: flex;
    flex-direction: column;
    width: 48vw;
    /* border: solid 5px white; */
}

/* image should take up 60% of the width of its container, and maintain aspect ratio. Rounded corners. */
div img {
    height: auto;
    width: 60%;
    border-radius: 15%;
    margin: 1%;
}

/* For centering elements in a flexbox */
.centered {
    justify-items: center;
    align-items: center;
}

#Work {
    display: flex;
    flex-wrap: wrap;
}

#MainCard {
    display: flex;
    width: 50vw;
    height: auto;
    margin-top: 4%;
    justify-content: center;
    align-content: center;
}

#SideCards {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    margin-top: 4%;
    justify-content: center;
    align-content: center;
}

.WorkCard {
    display: flex;
    flex-direction: column;
    border: 5px solid white;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color:darkblue;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.WorkCard a {
    display: flex;
    justify-content: center;
    align-content: center;
}

.WorkDesc {
    /* border: 5px solid white; */
    display: flex;
    width: auto;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

#AboutMe {
    /* border: solid 5px white; */
    margin-top: 5%;
    justify-content:flex-end;
    font-size: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 1%;
}

#AboutMe p {
    margin: 2%;
    margin-right: 4%;
    margin-bottom: 4%;
}

#Super {
    font-size: 1.1rem;
    color: crimson;
}

#SuperHeader1 {
    font-size: 120%;
    color: crimson;
}

#SuperHeader2 {
    font-size:120%;
    color: crimson;
}


/* Placeholder Footer Styling */
footer h3 {
    text-align: center;
    color: gray;
    font-family: "Roboto Mono";
}

@media screen and (max-width: 700px) {
    main section {
        flex-direction: column;
    }
}