/* Set box-sizing and scroll behavior for nav bar */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Set Background Color to Black and base text-color to White */
body {
    background-color: black;
    color: white;
}

/* Nav Bar should always be at the top of the screen, at 100% of screen-width, and 10% of screen height
Nav links will be on the right. Should never need to wrap. 
Had to make some fiddly adjustments to top and left margin to avoid black space. */

nav {
    position: fixed;
    width: 99vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -1.5vh;
    margin-left: -0.5vw;
    background-color: rgb(26, 25, 25);
    font-family: "Roboto Mono";
    padding-right: 1%;
}

/* Padding and formatting for nav bar items. */
nav a {
    padding-right: 1%;
    text-decoration: none;
    color: white;
    padding-top: 3%;
}

/* Nav bar links turn red on hover */
nav a:hover {
    color: red;
}

/* Main is a flexbox. Uses Google Fonts. Sets a top-padding so that the Nav Bar won't overlap */
main {
    display: flex;
    font-family: "Shadows Into Light";
    /* border: solid 5px lightblue; */
    flex-direction: column;
}

/* sections in Main are flexboxes with row directions. Should take 100% of screenwidth and 
90% of screen height; the remaining 10% of screen height occupied by fixed-position Navbar (below) */
main section {
    display: Flex;
    flex-direction: row;
    min-height: 90vh;
    width: 96vw;
    /* border: solid 5px white; */
    padding-top: 10vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-left: 1%;
}

/* Some font-sizing for headers */
h1 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
}

/* These tags are for some spans in my headers, to make the text pop */
#SuperHeader1 {
    font-size: 120%;
    color: crimson;
}

#SuperHeader2 {
    font-size:120%;
    color: crimson;
}


/* divs are flexboxes with column directions */
div {
    display: flex;
    flex-direction: column;
    width: 48vw;
    /* border: solid 5px white; */
}

/* image should take up 60% of the width of its container, and maintain aspect ratio. Rounded corners. */
div img {
    height: auto;
    width: 40%;
    border-radius: 5%;
    margin: 1%;
}

/* For centering elements in a flexbox */
.centered {
    justify-items: center;
    align-items: center;
}

/* Boy I wish I knew about Flex Grid before I wrote this stuff. */
/* The next three IDs and three Classes are all to format the cards in the "Work" portion of my page */
/* Ultimately they're designed to have a larger "main" card on the left, and several smaller "side" cards to the right */
/* They are carefully spaced to be responsive to screensize. */
/* In future iterations of my portfolio, I picture the side cards wrapping to the right and below the main card */

#Work {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

#MainCard {
    display: flex;
    width: 50vw;
    height: auto;
    margin-top: 4%;
    justify-content: center;
    align-content: center;
}

#SideCards {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: auto;
    margin-top: 4%;
    justify-content: center;
    align-content: center;
}

.WorkCard {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color:rgb(8, 8, 61);
    width: auto;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}

.WorkCard a {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

#MainCard a img {
    height: auto;
    width: 70%;
    border-radius: 5%;
    margin: 1%;
}


.WorkDesc {
    display: flex;
    width: auto;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

/* The About Me portion of the page is ultimately just some styled text.  */
/* Looks great on a phone browser */

#AboutMe {
    margin-top: 5%;
    justify-content:flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    padding: 1%;
}

#AboutMe p {
    margin: 2%;
    margin-right: 4%;
    margin-bottom: 4%;
}

/* This tag is for some spans that appear in the About Me page */
#Super {
    font-size: 110%;
    color: crimson;
}

/* Quick flexbox for Address container */
address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#Contact a {
    color: crimson;
}
/* Minor adjustments are needed for smaller displays. Chiefly several elements are centered or made into columns */
@media screen and (max-width: 820px) {

    nav {
        justify-content: center;
        align-items: center;
    }

    nav a {
        padding-right: 3%;
    }

    main section {
        flex-direction: column;
    }

    #Home {
        flex-direction: column-reverse;
        align-items: center;
    }

    #Work, #About, #Contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #AboutMe {
        width: 75%;
    }
}

@media screen and (min-width: 1367px){
    #About, #Contact {
        font-size: 125%;
    }
}